*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5ebdc;
  color: #502314;
}

.fondoNaranja {
  color: #fff;
  background-color: #ff8533;
}

.fondoRojo{
  color: #fff;
  background-color: #d72300;
  font-family: 'Rubik Glitch', cursive;
}

.fondoMarron {
  color: #fff;
  background-color: #502314 ;
}