*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #502314;
}

.fondoCart {
  color: #fff;
  background-color: #12B4B8;
}

.fondoPromo{
  color: rgb(123, 255, 0);
  background-color: #282645;
  font-family: 'Rubik Glitch', cursive;
}

.fondoFooter {
  color: #fff;
  background-color: #6FADF7 ;
}